<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31090205427-drtgdk8sag5n93d5t5ot2nudhtppeclp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31090205427-drtgdk8sag5n93d5t5ot2nudhtppeclp</string>
	<key>API_KEY</key>
	<string>AIzaSyDUhZ0eLtTqe4ZGHbQ0KwqNUe1fu5Dtx74</string>
	<key>GCM_SENDER_ID</key>
	<string>31090205427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutrition</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-31073</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-31073.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31090205427:ios:5a4e98c4dc266f3245cd86</string>
</dict>
</plist>